@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

:root {
	height: 100%;
	--anim-time: 1s
}

@keyframes movement {
	from {
		background-position-y: 0px;
	}

	to {
		background-position-y: 100px;
	}
}

body {
	height: 100%;
	margin: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: #333;
	box-shadow: inset 0 0 200px #0008;
}

input[type="radio"] {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 40px;
	margin: 0;
	-webkit-appearance: none;
	appearance: none;
	transition: border-color .3s;
	border-left: solid 6px #002;
	border-top: solid 6px #002;
}

input[type="radio"]:checked {
	border-color: #f4a;
}

#left {
	left: calc(50% - 100px);
	transform: rotate(-45deg);
}

#middle {
	left: calc(50% - 16px);
	transform: rotate(45deg);
}

#right {
	right: calc(50% - 100px);
	transform: rotate(135deg);
}

audio {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}

.postcard {
	position: relative;
	width: 800px;
	aspect-ratio: 4/3;
	border: solid 16px #fefefe;
	box-shadow: 0 4px 16px #000;
	overflow: hidden;
	background: linear-gradient(to bottom, #115, #f4a 50%);
}

@media (max-width: 1000px) or (max-height: 840px) {
	.postcard {
		transform: scale(0.8);
	}
}

@media (max-width: 800px) or (max-height: 720px) {
	.postcard {
		transform: scale(0.6);
	}
}

@media (max-width: 600px) or (max-height: 580px) {
	.postcard {
		transform: scale(0.4);
	}
}

.clip-svg {
	width: 0;
	height: 0;
}

.sun {
	position: absolute;
	top: 140px;
	left: 300px;
	width: 200px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: linear-gradient(#fe0, #f20);
	mix-blend-mode: lighten;
	box-shadow:
		0 -10px 20px -5px #fe8,
		0 10px 20px -5px #f20;
	clip-path:
		polygon(-100% -100%, 200% -100%,
			200% 40%, -100% 40%, -100% 41%, 200% 41%,
			200% 55%, -100% 55%, -100% 56%, 200% 56%,
			200% 66%, -100% 66%, -100% 68%, 200% 68%,
			200% 75%, -100% 75%, -100% 77%, 200% 77%,
			200% 84%, -100% 84%, -100% 86%, 200% 86%,
			200% 94%, -100% 94%, -100% 96%, 200% 96%,
			200% 200%, -100% 200%);
}

.mountain {
	position: absolute;
	top: 40%;
	width: 50%;
	height: 11%;
	background: linear-gradient(185deg, #828, #e39);
	clip-path: polygon(0% 0%, 10% 50%, 20% 10%, 30% 70%, 35% 50%, 40% 75%, 45% 60%, 55% 90%, 60% 80%, 70% 100%, 0% 100%);
}

.mountain.reverse {
	right: 0;
	transform: scaleX(-1);
}

.floor {
	background: linear-gradient(#0002, #0004), linear-gradient(#f4a, #115);
	width: 100%;
	height: 50%;
	position: absolute;
	top: 50%;
	perspective: 100px;
}

.floor-3d {
	width: 100%;
	height: 100%;
	transform: rotate3d(1, 0, 0, 28deg);
	transform-origin: top;
	mix-blend-mode: soft-light;
}

.grid {
	width: 100%;
	height: 100%;
	background:
		linear-gradient(to right, #fff5 1px, transparent 1px) 0 / 20px,
		linear-gradient(#fff5 1px, transparent 1px) 0 / 10px 10px;
	animation: movement var(--anim-time) linear infinite;
}

.road {
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 375px;
	background:
		linear-gradient(to right, #666 2px, #ff8 2px 4px, #666 4px 24px, transparent 24px),
		linear-gradient(to left, #666 2px, #ff8 2px 4px, #666 4px 24px, transparent 24px),
		linear-gradient(#ff8 10px, #666 10px) 0 / 20px 20px;
	animation: movement var(--anim-time) linear infinite;
}

.car {
	width: 120px;
	height: 80px;
	position: absolute;
	bottom: 100px;
	left: 340px;
	perspective: 100px;
	filter: blur(.5px);
	transition: transform 1.5s cubic-bezier(.7, 0, .5, 1.25);
}

#left:checked~.postcard .car {
	transform: translateX(-70px);
}

#right:checked~.postcard .car {
	transform: translateX(70px);
}

.wheel {
	position: absolute;
	bottom: -15px;
	background-color: #101;
	width: 30px;
	height: 20px;
	border-bottom-left-radius: 20% 100%;
	border-bottom-right-radius: 20% 100%;
	animation: bobbing .05s linear infinite alternate;
}

@keyframes bobbing {
	from {
		transform: translateY(-2px);
	}

	to {
		transform: translateY(2px);
	}
}

.wheel-left {
	left: 5px;
}

.wheel-right {
	right: 5px;
}

.car-shadow {
	position: absolute;
	width: 100%;
	height: 80px;
	background: linear-gradient(#000b, #0002);
	bottom: -70px;
	filter: blur(10px);
	mix-blend-mode: soft-light;
	transform: rotate3d(1, 0, 0, 30deg);
}

.car-bottom {
	position: absolute;
	width: 100%;
	height: 7%;
	background-color: #203;
	border-bottom-left-radius: 10% 50%;
	border-bottom-right-radius: 10% 50%;
	bottom: 0;
}

.car-mid {
	position: absolute;
	width: 100%;
	height: 35%;
	background-color: #314;
	border-top-left-radius: 5% 100%;
	border-top-right-radius: 5% 100%;
	bottom: 6%;
}

.car-top {
	position: absolute;
	width: 90%;
	height: 61%;
	background: linear-gradient(#829 6px, transparent 6px) 0 / 12px 12px, #414;
	border-top-left-radius: 8% 100%;
	border-top-right-radius: 8% 100%;
	top: 0;
	left: 5%;
	transform-origin: bottom;
	transform: rotate3d(1, 0, 0, 45deg);
	border: solid 8px #414;
	box-sizing: border-box;
}

.light {
	position: absolute;
	width: 30%;
	height: 80%;
	background: linear-gradient(#f44 50%, transparent) 0 10% / 50% 50%;
	top: 0;
	transform-origin: bottom;
	transform: rotate3d(1, 0, 0, 45deg);
	border-radius: 4px;
	mix-blend-mode: plus-lighter;
	box-shadow: 0 0 8px #f44;
	filter: blur(1px);
	box-sizing: border-box;
}

.light-left {
	left: 5%;
}

.light-right {
	right: 5%;
}

.filter {
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(#fff, #000 80%);
	mix-blend-mode: soft-light;
}

.signature {
	position: absolute;
	font-family: "Nothing You Could Do", cursive;
	font-size: 80px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	left: 30px;
	top: 70px;
	transform: rotate(-15deg);
	mix-blend-mode: soft-light;
	animation: signature 1s ease-in-out;
}

.signature span {
	font-size: 30px;
	font-weight: 600;
}

@keyframes signature {
	from {
		opacity: 0;
		transform: translateY(40px) rotate(-15deg);
	}

	to {
		opacity: 1;
		transform: translateY(0) rotate(-15deg);
	}
}